{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-50">
        <div class="col-7 col-md-6 my-auto">
            <h2 class="mb-4">Frequently Asked Questions</h2>

            {% for faq in faqs %}
            <div class="mb-4">
                <h5 class="font-weight-bold">{{ faq.question }}</h5>
                <p>{{ faq.answer }}</p>
            </div>
            {% empty %}
                <p>No FAQs available at the moment.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
