{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class=" col-7 col-md-6 my-auto">
            <h2 class="mb-4">Contact Us</h2>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-black">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
